body {
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    /* font-weight: 500; */
    font-style: normal;
    color: white;
    margin: auto;
    margin-top: 40px;
    width: 400px;
    background-color: black;
}

h1 {
    font-weight: 900;
    font-style: normal;
    color: white;
}

li {
    list-style-type: none;
}

a {
    color: cyan;
    font-style: bold;
}

.bold {
    font-weight: 700;
}

sup {
    font-style: italic;
    color: cyan;
}

.footer {
    text-align: justify;
}

.version {
    font-weight: 400;
    font-size: 14px;
}