body {
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    /* font-weight: 500; */
    font-style: normal;
    margin: auto;
    margin-top: 40px;
    width: 50%;
}

h1 {
    font-weight: 900;
    font-style: normal;
    color: orangered;
}

li {
    list-style-type: none;
}

a {
    color: orangered;
}

.bold {
    font-weight: 700;
}